/*fonts*/

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Thin.woff2') format('woff2'),
    url('Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('BigShouldersDisplay-SemiBold.woff2') format('woff2'),
    url('BigShouldersDisplay-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BlackItalic.woff2') format('woff2'),
    url('Roboto-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('BigShouldersDisplay-Bold.woff2') format('woff2'),
    url('BigShouldersDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.woff2') format('woff2'),
    url('Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-MediumItalic.woff2') format('woff2'),
    url('Roboto-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('BigShouldersDisplay-Black.woff2') format('woff2'),
    url('BigShouldersDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.woff2') format('woff2'),
    url('Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('BigShouldersDisplay-Thin.woff2') format('woff2'),
    url('BigShouldersDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BoldItalic.woff2') format('woff2'),
    url('Roboto-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.woff2') format('woff2'),
    url('Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('BigShouldersDisplay-ExtraBold.woff2') format('woff2'),
    url('BigShouldersDisplay-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic.woff2') format('woff2'),
    url('Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('BigShouldersDisplay-Light.woff2') format('woff2'),
    url('BigShouldersDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.woff2') format('woff2'),
    url('Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Black.woff2') format('woff2'),
    url('Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('BigShouldersDisplay-Regular.woff2') format('woff2'),
    url('BigShouldersDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic.woff2') format('woff2'),
    url('Roboto-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('BigShouldersDisplay-Medium.woff2') format('woff2'),
    url('BigShouldersDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-LightItalic.woff2') format('woff2'),
    url('Roboto-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

/*header*/

body{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin: 0;
}

header{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-column: 1 / 4;
    background-color: #1F1F1F;
}

.header-content{
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.link{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px 10px;
}

.link a{
    color: #FFE600;
    text-decoration: none;
    font-family: Big Shoulders Display;
    font-size: 27px;
}

/*main*/

main{
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

.main-content{
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    background-color: #f2f2f2;
}

.main-content-centered{
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 80px auto;
    width: 80%;

}

#homepage-title{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    margin: 10px 0px;
}

#homepage-img{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#homepage-desc{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    margin-top: 10px;
    font-family: Roboto;
}

#homepage-title h1{
    font-family: Big Shoulders Display;
    font-size: 110px;
    margin-top: 20px;
    margin: 0px;
}

.item{
    display: inline;
}

.button{
    border: none;
    background-color: #353237;
    font-family: Roboto;
    font-weight: bold;
    color: white;
    padding: 10px 15px;
    font-size: 23px;
}

/*product*/

.products{
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 60px 0px 120px 0px;
    flex-wrap: wrap;
}

.product{
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-family: Roboto;
    max-width: 272px;
}

.product-image img{
    max-width: 250px;
    margin: 0 auto;
}

footer{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-column: 1 / 4;
    background-color: #1F1F1F;
}

.footer-content{
    grid-column: 2 / 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-family: Roboto;
}

.customer-dashboard{
    grid-column: 2 / 3;
}

#edit-info-form{
    display: flex;
    flex-direction: column;
}

#maintenance{
    display: flex;
    flex-direction: column;
}

#maintenance_desc{
    height: 200px;
}
